version: "3.9"
services:
  file-export-server:
    image: ghcr.io/glissemantv/owui-file-export-server:latest
    container_name: file-export-server
    environment:
      - FILE_EXPORT_DIR=/output
    ports:
      - "9003:9003"
    volumes:
      - /your/export-data:/output

  owui-mcpo:
    image: ghcr.io/glissemantv/owui-mcpo:latest
    container_name: owui-mcpo
    environment:
      - FILE_EXPORT_BASE_URL=http://file-export-server:9003/files
      - FILE_EXPORT_DIR=/output
      - MCPO_API_KEY=top-secret
      - PERSISTENT_FILES=true
      - FILES_DELAY=1
      - LOG_LEVEL=DEBUG
      - UNSPLASH_ACCESS_KEY=your-unsplash-access-key
      - IMAGE_SOURCE=local_sd
      - LOCAL_SD_URL=http://localhost:7860
      - LOCAL_SD_USERNAME=local_user
      - LOCAL_SD_PASSWORD=local_password
      - LOCAL_SD_DEFAULT_MODEL=sd_xl_base_1.0.safetensors
      - LOCAL_SD_STEPS=20
      - LOCAL_SD_WIDTH=512
      - LOCAL_SD_HEIGHT=512
      - LOCAL_SD_CFG_SCALE=1.5
      - LOCAL_SD_SCHEDULER=Karras
      - LOCAL_SD_SAMPLE=Euler a
      - DOCS_TEMPLATE_DIR=/docs_templates
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - /your/export-data:/output
    depends_on:
      - file-export-server